/* Estilos para a página de registro */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height for centering */
  background-color: #f2f2f2; /* Light gray background */
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #61b4f6; /* Border color */
  padding: 30px; /* Adjust padding for better spacing */
  border-radius: 10px;
  background-color: white; /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  width: 100%;
  max-width: 400px; /* Ensure the form has a max width */
}

/* Estilo específico para campos de login e senha */
.registration-form input[type="email"],
.registration-form input[type="password"] {
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Space between input fields */
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  box-sizing: border-box; /* Prevent padding from affecting width */
}

/* Input fields styling */
.registration-form input {
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Space between input fields */
  box-sizing: border-box; /* Ensure padding doesn't overflow */
}

/* Input focus styling */
.registration-form input:focus {
  border-color: #61b4f6; /* Highlight border color on focus */
}

/* Button styling */
.registration-form button {
  background-color: #e9aa0e; /* Button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Full width */
  max-width: 300px; /* Limit max width */
  margin-top: 10px; /* Space between button and inputs */
}

.registration-form button:hover {
  background-color: #d1960b; /* Darker shade on hover */
}

/* Label styling */
.registration-form label {
  margin-bottom: 5px; /* Space above the input fields */
  width: 100%; /* Full width for labels */
  text-align: left; /* Align label text to the left */
  font-weight: bold; /* Make labels bold for better visibility */
}

/* Ensure proper spacing between input and label */
.registration-form input[type="date"] {
  padding: 9px;
}

/* Mobile responsive adjustments */
@media (max-width: 500px) {
  .registration-form input,
  .registration-form button {
    width: 100%; /* Ensure full width on mobile */
  }
}
