.report-view-container {
    padding: 20px;
    background-color: #f9f9f9;
    max-width: 900px;
    margin: auto;
  }
  
  .professor-review-form {
    margin-top: 40px;
    background-color: #e9aa0e;
    padding: 20px;
    border-radius: 10px;
  }
  
  .professor-review-form h2 {
    color: #61b4f6;
  }
  
  .professor-review-form label {
    display: block;
    margin-bottom: 15px;
  }
  
  .professor-review-form textarea,
  .professor-review-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .professor-review-form button {
    background-color: #61b4f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .professor-review-form button:hover {
    background-color: #4d9bc6;
  }
  