/* Styles for the registration page */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Full height for centering */
  background-color: #f2f2f2; /* Light gray background */
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #61b4f6; /* Border color */
  padding: 30px; /* Adjust padding for better spacing */
  border-radius: 10px;
  background-color: white; /* White background for the form */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Title styling */
.registration-form h1 {
  color: #61b4f6; /* Title color */
}

/* Input fields styling */
.registration-form input {
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  width: 100%; /* Full width */
  max-width: 300px; /* Limit max width */
  margin-bottom: 20px; /* Space between input fields */
}

/* Input focus styling */
.registration-form input:focus {
  border-color: #61b4f6; /* Highlight border color on focus */
}

/* Button styling */
.registration-form button {
  background-color: #e9aa0e; /* Button color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Full width */
  max-width: 300px; /* Limit max width */
}

.registration-form button:hover {
  background-color: #d1960b; /* Darker shade on hover */
}

/* Margin between fields and form */
.registration-form label {
  margin-bottom: 5px; /* Space above the input fields */
  width: 100%; /* Full width for labels */
  text-align: left; /* Align label text to the left */
}

/* Mobile responsive adjustments */
@media (max-width: 500px) {
  .registration-form input,
  .registration-form button {
    width: 80%; /* Make inputs and button responsive */
  }
}
